.busca{
    margin-top: 20px;
    background: linear-gradient(to top, rgb(225, 0, 255), rgb(255, 255, 255));
    height: 10%;
}
.item-buscado{
    color:  #303040;;
    font-size: 300%;
    padding: 0 55px;
}