<div class="detalhe-container">
    <div class="side-l">
        <mat-tab-group class="imagem">
            <mat-tab label="Foto 1">
              <img src="assets\produtos\00002\spfc-06-home01.png" alt="Slide 1" />
            </mat-tab>
            <mat-tab label="Foto 1">
              <img src="assets\produtos\00002\spfc-06-home02.png" alt="Slide 2" />
            </mat-tab>
          </mat-tab-group>
    </div>
    <div class="side-r">
        <h1>São Paulo 06</h1>
        <h3>R$150,00</h3>
        <p>Camiseta do tricolor paulista! <br> <br>Primeira camiseta após o tri-campeonato mundial, nostálgico patrocínio da LG com a Rebook como fornecedora de material esportivo.</p>
        <div class="button-container">
            <button mat-flat-button class="botoes-produto" (click)="onComprarClick()">Comprar</button>
        </div>
    </div>
</div> 