<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="assets\produtos\00002\spfc-06-home01.png" alt="Camiseta sp 06 home">
    <mat-card-content>
        <label class="denominacao-produto">São Paulo 06</label> <br>
        <label class="valor-produto">R$150,00</label>
    </mat-card-content>
    <div class="produto-acoes">
        <button mat-flat-button class="botoes-produto" (click)="onDetalhesClick()">Detalhes</button>
        <button mat-flat-button class="botoes-produto" (click)="onComprarClick()">Comprar</button>
    </div>
</mat-card> 